@use "styleboost/utilities/functions";

@layer defaults {

	$fill: functions.themePropertyVar('color', 'fill', 'button');
	$fill-text: functions.themePropertyVar('color', 'fill-text', 'button');
	$emphasis: functions.themePropertyVar('color', 'emphasis', 'button');
	$emphasis-text: functions.themePropertyVar('color', 'emphasis-text', 'button');

	.button {
		--button-color-bg-state: initial;
		--button-color-text-state: initial;

		display: inline-flex;
		background-color: var(--button-color-bg-state, var(--button-color-bg, #{$fill}));
		color: var(--button-color-text-state, var(--button-color-text, #{$fill-text}));
		font-size: var(--button-font-size, 1em);
		font-weight: var(--button-font-weight, 400);
		border-radius: var(--button-radius, var(--radius-sm));
		border-width: var(--button-border-width, 1px);
		border-color: var(--button-color-border-state, var(--button-color-border, #{$emphasis}));
		border-style: solid;

		cursor: pointer;
		user-select: none;
		justify-content: center;
		align-items: center;
		text-align: center;

		padding-bottom: calc(.5em - 1px);
		padding-left: 1em;
		padding-right: 1em;
		padding-top: calc(.5em - 1px);

		text-decoration: none;
		white-space: nowrap;
		appearance: none;

		&:hover {
			--button-color-bg-state: var(--button-color-hover-bg, #{$emphasis});
			--button-color-text-state: var(--button-color-hover-text, #{$emphasis-text});
		}
	}
}