@use "styleboost/level";
@use "styleboost/utilities/functions";
@use "styleboost/utilities/properties";

@layer defaults {

	$emphasis_rgb: functions.themePropertyVar('color', 'emphasis-rgb', 'input');

	:root {
		--size-c-input-border: 1px;
		--style-c-input-border: solid;
		--size-c-input-spacer-x: 0.75em;
		--size-c-input-spacer-y: 0.5em;
	}

	.input-defaults {

		--color-p-input-accent: #{properties.flashyAccentColor('input')};
		--color-p-input-accent-text: #{properties.flashyAccentColor('input', 'text')};

		--color-p-input-bg: #{properties.backgroundColor('input')};
		--color-p-input-text: #{properties.textColor('input')};
		--color-p-input-placeholder: #{properties.placeholderColor('input')};

		--size-p-input-border-inner: #{properties.innerBorderWidth('input')};
		--size-p-input-border: #{properties.borderWidth('input')};
		--size-p-input-border-radius: #{properties.borderRadius('input')};
		--style-p-input-border: #{properties.borderStyle('input')};

		--size-p-input-spacer-y: #{properties.miscSize('spacer-y', 'input')};
		--size-p-input-spacer-x: #{properties.miscSize('spacer-x', 'input')};

		--color-p-input-border: #{properties.borderColor('input')};
		--color-p-input-border-hover: #{properties.hoverBorderColor('input')};
		--color-p-input-border-focus: #{properties.flashyBorderColor('input')};

		color: var(--color-p-input-text);
		accent-color: var(--color-p-input-accent);
		background-color: var(--color-p-input-bg);
		border-color: var(--color-p-input-border);

		position: relative;
		appearance: none;

		&:hover {
			--color-p-input-border: var(--color-p-input-border-hover);
		}

		&:active,
		&:focus {
			--color-p-input-border: var(--color-p-input-border-focus);
			outline: 0;
			box-shadow: 0 0 0 .125em rgba(#{$emphasis_rgb}, 0.25);
		}
	}

	textarea,
	select,
	input:not([type="checkbox"]):not([type="radio"]) {
		@extend .input-defaults;
		align-items: center;
		box-shadow: none;
		display: inline-flex;
		font-size: 1rem;
		height: 2.5em;
		justify-content: flex-start;
		line-height: 1.5;
		vertical-align: top;

		border-radius: var(--size-p-input-border-radius);
		border-width: var(--size-p-input-border);
		border-style: var(--style-p-input-border);

		padding-bottom: var(--size-p-input-spacer-y);
		padding-top: var(--size-p-input-spacer-y);
		padding-left: var(--size-p-input-spacer-x);
		padding-right: var(--size-p-input-spacer-x);
	}

	select {
		// Show an arrow down
		background-image: var(--image-t-current-chevron);
		background-repeat: no-repeat;
		background-position: right 8px center;
		background-size: 16px 12px;
		padding-right: calc(var(--size-p-input-spacer-x) + 1.1rem);
	}

	.control {
		position: relative;
		text-align: inherit;

		&:has(> .prefix) {
			input {
				padding-left: 2.5em;
			}
		}

		&:has(> .suffix) {
			input {
				padding-right: 2.5em;
			}
		}

		> .prefix,
		> .suffix {
			height: 2.5em;
			width: 2.5em;
		}

		> .prefix {
			left: 0;
		}

		> .suffix {
			right: 0;
		}

		input {
			width: 100%;
			max-width: 100%;
		}
	}

	.input-defaults::placeholder,
	.control > .prefix,
	.control > .suffix {
		color: var(--color-p-input-placeholder);
		opacity: 0.6;
	}

	label {
		display: inline-block;

		&:has(.input-defaults) {
			margin-bottom: .5em;

			> * {
				display: block;
			}
		}
	}
}

.control {
	> .prefix,
	> .suffix {
		position: absolute;
		top: 0;
		z-index: 4;
		pointer-events: none;

		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}