@use "sass:map";
@use "styleboost/utilities/functions" as *;
@use "styleboost/utilities/contrast" as contrast;
@use "styleboost/utilities/mixins" as *;
@use "styleboost/utilities/boot";

// The CSS cascade layers.
// This list can be changed to modify the importance of the layers,
// but removing a layer from this list does not mean it won't get made.
$layers: (
	"reset",
	"defaults",
	"patterns",
	"components",
	"themes",
	"utilities",
	"overrides",
) !default;

// The default colors
$colors: (
	"red":     #dc3535,
	"orange":  #fd7e14,
	"yellow":  #ffc107,
	"olive":   #808000,
	"lime":    #94d82d,
	"green":   #008000,
	"teal":    #20c997,
	"cyan":    #0dcaf0,
	"blue":    #0d6efd,
	"navy":    #1310f2,
	"indigo":  #5d10f2,
	"purple":  #6f42c1,
	"grape":   #be4bdb,
	"cerise":  #D63384,
	"pink":    #f95f8f,
	"salmon":  #fa5e57,
) !default;

// Optional extra colors
$extra-colors: () !default;

// The default shades
$shades: (
	"black" : #000,
	"gray"  : #a4adb6,
	"white" : #fff,
) !default;

// Optional extra shades
$extra-shades: () !default;

// The default themes
$themes: (
	"primary"   : "blue",
	"secondary" : "gray-600",
	"success"   : "green",
	"info"      : "cyan",
	"warning"   : "yellow",
	"danger"    : "red",
	"bright"    : "gray-100",
	"dim"       : "gray-900",
	"truthy"    : "green",
	"falsy"     : "red",
	"inactive"  : "gray-400",
) !default;

// Optional extra themes
$extra-themes: () !default;

// The default modes
$modes: (
	"light": (
		// Special instruction for text colors
		"text": (
			"suffix"   : "700",
			"action"   : "shade",
			"args"     : 40%,
			"contrast" : true,
		),

		// Default types
		"fill": (
			"suffix": "500",
			"action": false,
		),
		"bg": (
			"suffix": "100",
			"action": "tint",
			"args"  : 80%,
		),
		"accent": (
			"suffix": "200",
			"action": "tint",
			"args"  : 60%,

			"theme_overrides": (
				// The "bright" theme should actually turn the accent color into a shade
				"bright": (
					"action": "shade",
					"args"  : 5%,
				)
			),
		),
		"emphasis": (
			"suffix": "600",
			"action": "shade",
			"args"  : 20%,
		),
		"light": (
			"suffix": "100",
			"action": "tint",
			"args"  : 10%,
		),
		"subtle": (
			"suffix": "200",
			"action": "tint",
			"args"  : 10%,
		),
	),
	"dark": (
		// Special instruction for text colors
		"text": (
			"suffix"   : "300",
			"action"   : "tint",
			"args"     : 40%,
			"contrast" : true,
		),

		// Default types
		"fill": (
			"suffix": "500",
			"action": false,
		),
		"bg": (
			"suffix": "900",
			"action": "shade",
			"args"  : 80%,
		),
		"accent": (
			"suffix": "700",
			"action": "shade",
			"args"  : 40%,

			"theme_overrides": (
				// The "dim" theme should actually turn the accent color into a tint
				"dim": (
					"action": "tint",
					"args"  : 20%,
				)
			),
		),
		"emphasis": (
			"suffix": "200",
			"action": "tint",
			"args"  : 20%,
		),
		"light": (
			"suffix": "100",
			"action": "tint",
			"args"  : 10%,
		),
		"subtle": (
			"suffix": "800",
			"action": "tint",
			"args"  : 10%,
		),
	),
) !default;

// The default mode & theme
$default-mode: "light" !default;
$default-theme: "bright" !default;

// The default component themes
$components: (
	"body": $default-theme,
) !default;

// The default radius
$radius: (
	"none" : 0,
	"sm"   : 0.2rem,
	"md"   : 0.4rem,
	"lg"   : 0.6rem,
	"xl"   : 0.8rem,
	"xxl"  : 1.0rem,
) !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5 !default;

/// @type color
$contrast-dark-default: black !default;

/// @type color
$contrast-light-default: white !default;

/// @type string
$planifolia-colorspace: 'lab' !default;

// Menu variables
$menu-arrow-content: "\f105" !default;
$menu-arrow-font: "Font Awesome 6 Pro", "Font Awesome 6 Free" !default;

// Default animation duration
$animation-duration: 0.3s !default;

// The container horizontal gap, which acts as the offset for breakpoints
$tablet: 768px !default;
$small-desktop: 960px !default;
$medium-desktop: 1152px !default;
$large-desktop: 1440px !default;

// All our breakpoints
$breakpoints: (
	"phone"          : ("until": $tablet),
	"tablet"         : ("from": $tablet),
	"any-desktop"    : ("from": $small-desktop),
	"small-desktop"  : ("from": $small-desktop, "until": $medium-desktop),
	"medium-desktop" : ("from": $medium-desktop, "until": $large-desktop),
	"large-desktop"  : ("from": $large-desktop),
) !default;

// Optional extra modes
$extra-modes: () !default;

// Set the defaults in the boot module
$temp: boot.setDefaultMode($default-mode);
$temp: boot.setDefaultTheme($default-theme);

// Set the minimum contrast ratio
$temp: boot.setMinContrastRatio($min-contrast-ratio);

// Merge all the values
$colors: boot.initColors($colors, $extra-colors);
$shades: boot.initShades($shades, $extra-shades);
$themes: boot.initThemes($themes, $extra-themes);
$modes: boot.initModes($modes, $extra-modes);
$components: boot.initComponents($components);

// Declare all the layers in their order
@layer #{$layers};

@layer defaults {
	:root {
		@include boot.outputRanges();
		@include boot.outputNumberedColors();
		@include boot.outputRGBColors();

		@include map-to-properties($radius, '--radius-');

		--duration-animation: #{$animation-duration};
	}
}

:export {
	@include boot.outputExports();
}

@layer themes {
	@include boot.outputModeColors();
	@include boot.outputThemeProperties();
}